<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 
	<context:component-scan base-package="com.feiniu" />
	<util:properties id="riverPathConfig" location="classpath:config/configPath.properties"></util:properties>
	<util:properties id="chechksrvConfig" location="classpath:config/checksrv.properties"></util:properties>
 
	<bean id="log4jInitialization" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	   <property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
	   <property name="targetMethod" value="initLogging" />
	   <property name="arguments">
	      <list>
	         <value>#{riverPathConfig['config.path']}/config/log4j.properties
	         </value>
	      </list>
	   </property>
	</bean>  

	<bean id="SocketCenter" class="com.feiniu.node.SocketCenter"/>

	<bean id="FlowCenter" class="com.feiniu.node.FlowCenter" />

	<bean id="SearcherService" class="com.feiniu.searcher.service.SearcherService"/> 
	
	<bean id="HttpReaderService" class="com.feiniu.reader.service.HttpReaderService"/>  
 
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
	<bean id="taskJobCenter" class="com.feiniu.task.schedule.TaskJobCenter"/>
	<bean id="healthChecker" class="com.feiniu.util.HealthChecker"/> 
	<bean id="RIVERS" class="com.feiniu.node.startup.Run"/>
	<bean id="FNMonitor" class="com.feiniu.service.FNMonitor" init-method="start"/>
	<bean id="FNStart" class="com.feiniu.node.startup.Run">
		<constructor-arg type="String" index="0" value="#{riverPathConfig['config.path']}/config/config.properties"/>
		<constructor-arg type="String" index="1" value="#{riverPathConfig['config.path']}"/> 
	</bean>
</beans>